.star{
  display: inline-block;
  margin: 3.6px 10px;
}
.star::after{
  content: "\2605";
  font-size: 3.4rem;
}

.number{
  font-size: 2rem;
  width: 54px;
  margin: 13px 10px;
  padding: 5px;
  border-color: white;
}
.body{
  display: flex;  
  align-items: center;
  justify-content: center;
  width: 533px;
  margin: auto;

}
.left{
  width: 50%;
  border: thin solid black;
  text-align: center;
  padding: 10px;
  height: 237px;
}
.right{
  height: 237px;
  width: 50%;
  border: thin solid black;
  text-align: center;
  padding: 10px
}
.help{
  font-size: 1.5rem;
  margin: 10px 0px;
}
.game{
  width: 535px;
  margin: auto;
  margin-top:25px;
}
.message{
  font-size: 2rem;
  margin: 8px 0px;
}
.game-done button {
  padding: 10px;
  font-size: 1rem;
}
.game-done {
  margin: 20px 0px;
}